body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  ul {
    list-style: none;
    padding: 0;

      a {
        text-decoration: none;
        color: #2F281E;
      }
    }
  }

header {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  .logo {
    margin: 22px 0 24px;
  }

  li {
    display: inline-block;
    padding: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
}